/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;  /*font-family: 'Poppins', sans-serif;*/
}

.container{
    margin: auto;
    padding: 0.5rem;
    width: 90%;
    max-width: 1176px;
}

:root{
    --primary: #0084fd;
    --secondary: #b5ddff;
    --lightpurple: #9792e4;
    --lightorange: #fdc15f;
    --color-white: white;
    --darkgrey: #333333;
}

/* utility */

.d_flex{
    display: flex;
}

.wrp{
    flex-wrap: wrap;
}

.padd1{
    padding: 1rem;
}

.padd05{
    padding: 0.5rem;
}

.txt_center{
    text-align: center;
}

.line_height2{
    line-height: 2rem;
}

.mg_auto{
    margin: auto;
}

.txt_dec_no{
    text-decoration: none;
}

.bg_sec{
    background-color: var(--secondary);
}

.bg_purpl{
    background-color: var(--lightpurple);
}

/* buttons*/
.btn{
    border: none;
    border-radius: 1.5rem;
    font-size: medium;
    padding: 0.5rem 1rem;
}

/* #region debug*/
/*debug*/

.debug #header_menu{
    background-color: rgb(249, 49, 136);
}

.debug header> .container{
    border: 1px solid rgb(12, 12, 12);
}

.debug .inline_menu{
    background-color: rgb(36, 220, 233);
}

.debug .container{
    border: 1px solid rgb(10, 10, 10);
}

.debug .services, .debug .testimonials, .about{
    background-color: rgb(165, 250, 250);
}

.debug .strategic, .debug .benefits, .free{
    background-color: rgb(247, 174, 236);
}

.debug .row{
    background-color: rgb(129, 245, 121);
}

.debug .card_phone> .row{
    background-color: rgb(19, 100, 13);
}

.debug .col-12> div {
    height: 100%;
    background-color: rgb(208, 97, 245);
}

.debug .card_planning, .debug .card_app{
    height: 100%;
    background-color: rgb(208, 97, 245);
}

.debug .img_test{
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
}

.debug .card_test{
    background-color: rgb(208, 97, 245);
}

.debug #side_footer{
    background-color: black;
}

.debug .testo_about, .card_about{
    height: 100%;
    background-color: rgb(208, 97, 245);
}
/* #endregion debug*/


/* #region header */
#header_menu{
    background-color: var(--primary);
}

#header_menu> .container{
    justify-content: space-between;
}

.menu .desktop{
    display: none;  
    align-items: center;
}

.inline_menu{
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: medium;
    & a{
        color: var(--color-white);
    }
}

.btn_style{
    background-color: var(--color-white);
}

/* #endregion header */

/* #region main */

/* section services*/
.col-12{
    width: 100%;
}

.img_phone> img{
    width: 100%;
}

.img_testo> img{
    height: 100%;
    flex-shrink: 0;
}

.testo_ult{
    width: 90%;
}
/* #endregion main */

/* #region footer */

#side_footer{
    background-color: var(--darkgrey);
}

.testo_footer> p{
    color: var(--color-white);
}
/* #endregion footer */

/* #region media */

/* breakpoint medium */
@media screen and (min-width: 768px) {
    .col-md-8{
        width: calc((100% / 12) * 8);
    }

    .col-md-4{
        width: calc((100% / 12) * 4);
    }

    .card_test{
        display: flex;
        align-items: center;
    }

    .benefits_cards> .col-md-6{
        width: calc((100% / 12) * 6);
    } 

    .testo{
        width: 70%;
    }

    .about> .container{
        flex-wrap: nowrap;
    }

    .testo_ult{
        width: 70%;
    }
}

/* breakpoint large */

@media screen and (min-width: 1200px) {
    .container{
        width: 60%;
    }

    .menu .desktop{
        display: flex;  
    }

    .menu .mobile{
        display: none;
    }
    
    .col-lg-6{
        width: calc((100% / 12) * 6);
    }

    .card_phone> .row{
        display: flex;
    }

    .strategic .container{
        flex-wrap: nowrap;
    }
    
    .benefits_cards> .col-md-4{
        width: calc((100% / 12) * 4);
    }

    .testo_ult{
        width: 50%;
    }
}

/* #endregion media*/

