/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: auto;
    padding: 0.5rem;
}

/* utility */

.d_flex{
    display: flex;
}

.wrp{
    flex-wrap: wrap;
}

/* #region debug*/
/*debug*/

#header_menu{
    background-color: rgb(249, 49, 136);
}

header> .container{
    height: 100%;
    border: 1px solid rgb(12, 12, 12);
}

.menu> .row{
    background-color: rgb(36, 220, 233);
}

.container{
    height: 600px;
    border: 1px solid rgb(10, 10, 10);
}

section {
    height: 600px;
}

.services, .testimonials, .about{
    background-color: rgb(165, 250, 250);
}

.strategic, .benefits, .free{
    background-color: rgb(247, 174, 236);
}

.row{
    width: 100%;
    background-color: rgb(129, 245, 121);
}

.col-8 > div,
.col-4 > div {
    background-color: rgb(208, 97, 245);
    height: 100%;
}

#footer_contatti{
    height: 70px;
    background-color: black;
}

/* #endregion debug*/


/* #region header */

.menu> .logo{
    width: 50%;
    padding: 0.5rem;
}

.menu> .row{
    width: 50%;
}

.col-9{
    width: calc(100% / 9 * 3);
}
/* #endregion header */

/* #region main */

.col-8{
    width: calc((100% / 12) * 8);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-8 > div,
.col-4 > div {
    padding: 1rem;
}

.col-8, .col-4{
    padding: 0.5rem;
}

/* #endregion main */

@media screen and (max-width: 1152px) {
    .container{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .col-md-12{
        width: 100%;
    }

    .container{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    
    .container{
        width: 90%;
    }

    <i class="fa-solid fa-bars"></i>
}




/* #region footer */
/* #endregion footer */