/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: 0 20%;
    padding: 25px 0;
}

/* utility */

.d_flex{
    display: flex;
}

.wrp{
    flex-wrap: wrap;
}

.padd_1{
    padding: 1rem 0;
}

.padd_05{
    padding: 0.5rem 0;
}
/* #region debug*/
/*debug*/

#header_menu{
    height: 50px;
    background-color: rgb(249, 49, 136);
}

header> .container{
    height: 100%;
    background-color: rgb(252, 162, 234);
}

.menu> .row{
    background-color: rgb(36, 220, 233);
}

.services> .container{
    height: 500px;
    background-color: rgb(60, 60, 134);
}

section {
    height: 500px;
}

.services, .testimonials, .about{
    background-color: rgb(165, 250, 250);
}

.strategic, .benefits, .free{
    background-color: rgb(247, 174, 236);
}

.row{
    height: 100%;
    width: 100%;
    background-color: rgb(129, 245, 121);
}

.col-8 > div,
.col-4 > div {
    background-color: rgb(208, 97, 245);
    height: 100%;
}
/* #endregion debug*/



/* #region header */
/* #endregion header */

/* #region main */

.col-8{
    width: calc((100% / 12) * 8);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-8 > div,
.col-4 > div {
    padding: 1rem;
}

.col-8, .design, .develop{
    padding-right: 1rem;
}

.app, .clean{
    padding-bottom: 1rem;
}
/* #endregion main */

/* #region footer */
/* #endregion footer */